[Unit]
Description=Mimo Firebase Print Listener
After=network.target

[Service]
Type=simple
User=printpi
WorkingDirectory=/home/printpi
Environment="PRINTER_NAME=Brother_HL_L5210DN_series"
Environment="KIOSK_ID=KIOSK_1"
ExecStart=/usr/bin/python3 /home/printpi/firebase_listener.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
